// =============================================================================
// Home Page
// =============================================================================

@use "../abstracts" as *;

.bio {
	// Add home page specific styles here
}
