@use "../abstracts" as *;
.LEF {
	display: flex;
	// justify-content: space-between;
	height: 725px;
	background: linear-gradient(to right, #3bc7c9 27%, #9d1b2e 20%);
	.wp-block-image {
		display: flex;
		align-items: end;
		img {
			width: 95%;
		}
	}
	.wp-block-group {
		display: flex;
		margin-right: 0%;

		h2 {
			font-size: 64px;
			color: #fff8fa;
			display: flex;
			align-items: center;
		}
		p {
			white-space: nowrap;
			font-size: 36px;
			color: #fff8fa;
		}
	}
}

.propos.is-layout-grid {
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
	.wp-block-image {
		img {
			width: 70%;
		}
	}
	.wp-block-group {
		width: 50%;
		h2 {
			font-size: 96px;
		}
		p {
			font-size: 36px;
			display: flex;
			justify-content: center;
		}
	}
}

.inspiration.is-layout-grid {
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
	.wp-block-image {
		img {
			margin-left: 20%;
			width: 70%;
		}
	}
	.wp-block-group {
		margin-right: 10%;
		width: 50%;
		h2 {
			font-size: 96px;
		}
		p {
			font-size: 36px;
			width: 50%;
			display: flex;
			justify-content: center;
		}
	}
}

.art.is-layout-flex {
	height: 400px;
	background-color: #9d1b2e;
	img {
		width: 80%;
	}
	h2 {
		color: #fff8fa;
		font-size: 96px;
	}
}
.texte-fin {
	margin: auto;
	width: 80%;
	font-size: 36px;
}
