@use "../abstracts" as *;
.collection-privee-intro {
	@include intro;
	@include media($mobile) {
		margin-left: 0rem;
		text-align: center;
		margin-top: 0rem;
	}
}
.collection-privee-nav {
	@include nav;
	@media (min-width: 600px) {
		justify-content: center;
	}
	.collection-privee-nav-list {
		@include nav-list;
		@media (min-width: 600px) {
			flex-direction: row;
			font-size: larger;
			gap: 2rem;
		}
		.collection-privee-button {
			@include bouton-red;
			width: fit-content;
			background-color: color("bouton-red");
			&:hover,
			&:focus {
				background-color: inherit;
			}
			.collection-privee-a {
				@include list-a;
			}
			.collection-privee-a:hover {
				@include list-a-hover;
			}
		}
	}
}
.collection-privee-wrapper {
	@include wrapper;
	@media (min-width: 768px) {
		grid-template-columns: repeat(4, 1fr);
	}
	.collection-privee-items {
		@include wrapper-items;
		.collection-privee-item-title {
			@include item-title;
		}
	}
}
.collection-privee-pagination {
	@include pagination;
	.current {
		color: #9d1b2e !important;
		font-size: 3rem;
	}
	.page-numbers {
		text-decoration: none;
		color: black;
	}
}
.collection-privee-p {
	@include empty;
}
