// =============================================================================
// Home Page
// =============================================================================

@use "../abstracts" as *;

.galerie {
  // Add home page specific styles here
}
