@use "../abstracts" as *;

.galerie-nav {
	display: flex;
	justify-content: center;
	.nav-list {
		display: flex;
		list-style: none;
		.list-individual {
			margin: 0.5rem;
			.list-a {
				font-size: larger;
				text-decoration: none;
				color: #c4c3c3;
				transition: 0.5s;
			}
			.list-a:hover {
				color: #000000;
				transition: 0.5s;
			}
		}
	}
}

.galerie-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin-top: 1rem;
	.galerie-items {
		list-style: none;
	}
}

.pagination {
	display: flex;
	justify-content: center;
}
