@use "../abstracts" as *;
.galerie-intro {
	@include intro;
}
.galerie-nav {
	@include nav;
	.galerie-nav-list {
		@include nav-list;
		.galerie-button {
			@include bouton-red;
			width: fit-content;
			background-color: color("bouton-red");
			&:hover,
			&:focus {
				background-color: inherit;
			}
			.galerie-a {
				@include list-a;
			}
			.galerie-a:hover {
				@include list-a-hover;
			}
		}
	}
}
.galerie-wrapper {
	@include wrapper;
	.galerie-items {
		@include wrapper-items;
		.galerie-item-title {
			@include item-title;
		}
	}
}
.galerie-pagination {
	@include pagination;
	.current {
		color: #9d1b2e !important;
		font-size: 3rem;
	}
	.page-numbers {
		text-decoration: none;
		color: black;
	}
}
