// =============================================================================
// Home Page
// =============================================================================

@use "../abstracts" as *;

.home {
	.accueil-post1 {
		.accueil-title {
			@include title;
			font-size: 96px;
			@include media($mobile) {
				font-size: 40px;
				text-align: center;
				margin-left: 0%;
			}
		}
		.accueil-subtitle {
			@include title;
			font-size: 52px;
			@include media($mobile) {
				font-size: 25px;
				margin-left: 0rem;
				text-align: center;
			}
		}
		.accueil-text {
			font-size: 24px;
			max-width: 80%;
			margin-left: 4rem;
			@include media($mobile) {
				font-size: 25px;
				margin-left: 2rem;
			}
		}
		.accueil-btn {
			display: flex;
			gap: 175px;
			@include media($mobile) {
				gap: 15px;
			}
			.wp-block-button__link {
				all: unset;
				display: block;
				@include bouton-red2;
				@include media($mobile) {
					font-size: 20px;
				}
			}
		}
	}

	.accueil-post2 {
		margin-top: 5%;
		.accueil-subtitle1 {
			margin: 3%;
			text-align: center;
			font-size: 96px;
			@include media($mobile) {
				font-size: 40px;
			}
		}
		.accueil-btn1 {
			margin-top: 2%;
			margin-bottom: 2%;
			.wp-block-button__link {
				all: unset;
				display: block;
				@include bouton-red2;
				@include media($mobile) {
					font-size: 20px;
				}
			}
		}
		.accueil-text1 {
			width: 35%;
			margin: auto;
			font-size: 24px;
			@include media($mobile) {
				font-size: 20px;
				width: 80%;
				margin-top: 2rem;
			}
		}
	}

	.accueil-post3 {
		margin-top: 5%;
		.accueil-subtitle2 {
			@include title;
			font-size: 96px;
			margin-left: 7rem;
			@include media($mobile) {
				font-size: 40px;
				margin-left: 0rem;
				text-align: center;
			}
		}
		.mosaic.oeuvre {
			width: 75%;
			margin: 0 auto;
		}

		.mosaic {
			display: flex;
			gap: 40px;
			align-items: flex-start;

			.col {
				display: flex;
				flex-direction: column;
				gap: 40px;
			}
			.col2 {
				gap: 150px;
			}

			.left {
				width: 35%;
			}

			.right {
				width: 65%;
			}
		}

		.row-small {
			display: flex;
			gap: 20px;

			img {
				width: 100%;
			}
		}

		.raw-small2 {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.accueil-oeuvre-content {
			margin-left: 12.5%;
			display: flex;
			margin-top: 5%;
			margin-bottom: 5%;
			@include media($mobile) {
				align-items: center;
				flex-direction: column;
				margin-left: 0rem;
			}
			.accueil-oeuvre-text {
				width: 62%;
				font-size: 24px;
				@include media($mobile) {
					font-size: 20px;
					width: 80%;
				}
			}
			.accueil-btn3 {
				.wp-block-button__link {
					all: unset;
					display: block;
					@include bouton-red2;
					@include media($mobile) {
						text-align: center;
						font-size: 20px;
						margin-top: 1rem;
					}
				}
			}
		}
	}

	.accueil-post4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		.accueil-subtitle3 {
			display: flex;
			justify-content: end;
			margin-left: 70%;
			font-size: 96px;
			@include media($mobile) {
				font-size: 40px;
			}
		}
		.flex-viewport {
			height: 200px;
			place-content: center;
			img {
				width: 150%;
				height: 100%;
			}
		}
		p {
			width: 80%;
			font-size: 24px;
			margin-top: 2%;
			margin-bottom: 15%;
			@include media($mobile) {
				font-size: 20px;
			}
		}
	}
}
