// =============================================================================
// Home Page
// =============================================================================

@use "../abstracts" as *;

.home {
	.post1 {
		@keyframes fadeIn {
			to {
				opacity: 1;
			}
		}
		img {
			opacity: 0;
			animation: fadeIn 1.5s ease forwards;
		}
		h4 {
			margin-left: 13%;
			margin-top: 5%;
			font-size: 52px;
			@keyframes fadeIn {
				to {
					opacity: 1;
				}
			}
			@include media($mobile) {
				font-size: 36px;
				text-align: center;
				margin-left: 0%;
			}
		}
		h1 {
			display: flex;
			justify-content: center;
			margin-top: 5%;
			font-size: 96px;
			@include media($mobile) {
				font-size: 52px;
				text-align: center;
				margin-left: 0%;
			}
		}
		p {
			font-size: 24px;
			margin-left: 13%;
			max-width: 70%;
			@include media($mobile) {
				font-size: 20px;
			}
		}
		.wp-block-buttons.is-content-justification-center {
			display: flex;
			gap: 175px;
			@include media($mobile) {
				gap: 30px;
			}
		}
		.wp-block-button__link {
			all: unset;
			display: block;
			@include bouton-red2;
			@include media($mobile) {
				font-size: 25px;
			}
		}
	}
	.flex {
		display: flex;
	}
	.colon {
		display: flex;
		flex-direction: column;
	}

	.post2 {
		margin-top: 5%;
		.wp-block-heading {
			font-size: 96px;
			margin-left: 15%;
			margin-bottom: 5%;
			@include media($mobile) {
				font-size: 42px;
				text-align: center;
				margin-left: 0%;
				display: flex;
				justify-content: center;
				max-width: 100%;
			}
			@include media($tablette) {
				font-size: 64px;
			}
		}
		.wp-block-button {
			margin-top: 2%;
			margin-bottom: 2%;
			.wp-block-button__link {
				all: unset;
				display: block;
				@include bouton-red2;
			}
		}

		p {
			width: 65%;
			margin: auto;
			font-size: 24px;
			@include media($mobile) {
				font-size: 20px;
				width: 80%;
			}
			@include media($tablette) {
				width: 80%;
			}
		}
	}

	//section 3
	.post3 {
		margin-top: 5%;
		h2 {
			margin-left: 12%;
			font-size: 96px;
			@include media($mobile) {
				font-size: 52px;
			}
		}
		.mosaic.oeuvre {
			width: 75%;
			margin: 0 auto;
		}

		.mosaic {
			display: flex;
			gap: 40px;
			align-items: flex-start;

			.col {
				display: flex;
				flex-direction: column;
				gap: 40px;
			}
			.col2 {
				gap: 150px;
				@include media($mobile) {
					gap: 120px;
				}
			}

			.left {
				width: 35%;
			}

			.right {
				width: 65%;
			}
		}

		.row-small {
			display: flex;
			gap: 20px;

			img {
				width: 100%;
			}
		}

		.raw-small2 {
			display: flex;
			flex-direction: column;
			gap: 20px;
			@include media($tablette) {
				display: none;
			}
			@include media($mobile) {
				display: none;
			}
		}

		.is-layout-grid {
			margin-left: 12.5%;
			display: flex;
			margin-top: 2%;
			margin-bottom: 5%;
			@include media($mobile) {
				display: flex;
				flex-direction: column;
			}
			.wp-container-content-5f80b302 {
				width: 62%;
				font-size: 24px;
				@include media($mobile) {
					font-size: 20px;
					width: 100%;
					margin-left: -5%;
				}
			}
			.wp-block-button {
				@include media($mobile) {
					margin-left: 8%;
				}
				.wp-block-button__link {
					all: unset;
					display: block;
					@include bouton-red2;
					@include media($mobile) {
						text-align: center;
					}
				}
			}
		}
	}

	.post4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		.presse {
			display: flex;
			justify-content: end;
			margin-left: 70%;
			font-size: 96px;
			@include media($mobile) {
				font-size: 52px;
				margin-right: 20%;
			}
		}
		.flex-viewport {
			height: 200px;
			place-content: center;
			@include media($mobile) {
				height: 100px;
			}
			ul {
				gap: 2rem;
				img {
					width: 250px !important ;
					@include media($mobile) {
						width: 150px !important ;
					}
				}
			}
		}
		p {
			width: 80%;
			font-size: 24px;
			margin-top: 2%;
			margin-bottom: 15%;
			@include media($mobile) {
				font-size: 20px;
			}
		}
	}
}

// animations

.scroll {
	opacity: 0;
	transform: translateY(120px);
	transition: 1s ease;
}

.scroll.is-visible3 {
	opacity: 1;
	transform: translatey(0);
}
