@use "../abstracts" as *;
.pochoirs-intro {
	@include intro;
}
.pochoirs-nav {
	@include nav;
	.pochoirs-nav-list {
		@include nav-list;
		.pochoirs-button {
			@include bouton-red;
			width: fit-content;
			background-color: color("bouton-red");
			&:hover,
			&:focus {
				background-color: inherit;
			}
			.pochoirs-a {
				@include list-a;
			}
			.pochoirs-a:hover {
				@include list-a-hover;
			}
		}
	}
}
.pochoirs-wrapper {
	@include wrapper;
	.pochoirs-items {
		@include wrapper-items;
		.pochoirs-item-title {
			@include item-title;
		}
	}
}
.pochoirs-pagination {
	@include pagination;
	.current {
		color: #9d1b2e !important;
		font-size: 3rem;
	}
	.page-numbers {
		text-decoration: none;
		color: black;
	}
}
.pochoirs-p {
	@include empty;
}
