@use "../abstracts" as *;
.wonder-woman-intro {
	@include intro;
	@include media($mobile) {
		margin-left: 0rem;
		text-align: center;
		margin-top: 0rem;
	}
}
.wonder-woman-nav {
	@include nav;
	@media (min-width: 600px) {
		justify-content: center;
	}
	.wonder-woman-nav-list {
		@include nav-list;
		@media (min-width: 600px) {
			flex-direction: row;
			font-size: larger;
			gap: 2rem;
		}
		.wonder-woman-button {
			@include bouton-red;
			width: fit-content;
			background-color: color("bouton-red");
			&:hover,
			&:focus {
				background-color: inherit;
			}
			.wonder-woman-a {
				@include list-a;
			}
			.wonder-woman-a:hover {
				@include list-a-hover;
			}
		}
	}
}
.wonder-woman-wrapper {
	@include wrapper;
	@media (min-width: 768px) {
		grid-template-columns: repeat(4, 1fr);
	}
	.wonder-woman-items {
		@include wrapper-items;
		.wonder-woman-item-title {
			@include item-title;
		}
	}
}
.wonder-woman-pagination {
	@include pagination;
	.current {
		font-size: 3rem;
	}
	.page-numbers {
		text-decoration: none;
	}
}
.wonder-woman-p {
	@include empty;
}
