@use "../abstracts" as *;
.wonder-woman-intro {
	@include intro;
}
.wonder-woman-nav {
	@include nav;
	.wonder-woman-nav-list {
		@include nav-list;
		.wonder-woman-button {
			@include bouton-red;
			width: fit-content;
			background-color: color("bouton-red");
			&:hover,
			&:focus {
				background-color: inherit;
			}
			.wonder-woman-a {
				@include list-a;
			}
			.wonder-woman-a:hover {
				@include list-a-hover;
			}
		}
	}
}
.wonder-woman-wrapper {
	@include wrapper;
	.wonder-woman-items {
		@include wrapper-items;
		.wonder-woman-item-title {
			@include item-title;
		}
	}
}
.wonder-woman-pagination {
	@include pagination;
	.current {
		font-size: 3rem;
	}
	.page-numbers {
		text-decoration: none;
	}
}
.wonder-woman-p {
	@include empty;
}
