// =============================================================================
// Header
// =============================================================================

@use "../abstracts" as *;

.site-header {
	padding: spacing("lg") 0;
	background-color: color("primary");
	border-bottom: 1px solid color("border");

	.container {
		display: flex;
		flex-direction: column;

		
	.main-navigation {
		display: flex;
		justify-content: center;
	}
	}
}

.site-branding {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	.site-title {
		margin: 0;
		font-size: font-size("h3");

		a {
			@include link-reset;
			color: color("primary");

			&:hover,
			&:focus {
				color: color("primary");
			}
		}
	}
	.custom-logo {
		max-height: 150px;
		max-width: 400px;
	}

}
