// =============================================================================
// Navigation
// =============================================================================

@use "../abstracts" as *;

.main-navigation {
	margin-top: 4%;
	position: relative;
	.menu-toggle {
		@include button-reset;
		display: block;
		padding: spacing("sm");

		@include media-breakpoint-up(md) {
			display: none;
		}

		.menu-toggle-icon {
			display: block;
			width: 24px;
			height: 2px;
			background-color: color("text");
			position: relative;

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: color("text");
			}

			&::before {
				top: -8px;
			}

			&::after {
				bottom: -8px;
			}
		}
	}

	.primary-menu-container {
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}

	.primary-menu {
		display: flex;
		gap: spacing("md");

		list-style: none;
		padding: 0;
		margin: 0;
		color: #9d1b2e;
		a {
			@include bouton-red;
			@include link-reset;
			display: block;
			padding: spacing("sm");
			@include transition(color);

			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 20px;
		}
	}
}
